body {
  border: 10px solid black;
  font-family: sans-serif;
}
p,
ul,
h3 {
  font-weight: bold;
  font-size: 22px;
}
ul {
  line-height: 2;
  list-style: square;
}
h2 {
  font-size: 25px;
}
h2,
h3,
.free,
button {
  text-transform: uppercase;
}

a:link,
a:visited {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

a:hover,
a:active {
  text-decoration: none;
}

h2 {
  background-color: lightgrey;
  text-align: center;
}

.free {
  color: rgb(121, 120, 120);
  font-weight: bold;
}

.price {
  font-size: 30px;
  font-weight: bolder;
}

button {
  background-color: black;
  color: #fff;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: black;
}
