* {
  padding: 0px;
  margin: 0px;
}
.container {
  margin: 50px auto;
  width: 1000px;
}

body {
  border: 5px solid black;
  font-family: sans-serif;
}
p,
ul,
h3 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
ul {
  line-height: 2;
  list-style: square;
  margin-left: 30px;
}
h2 {
  font-size: 25px;
}

h2,
h3,
.free,
button {
  text-transform: uppercase;
}

a {
  margin-bottom: 20px;
  color: red;
}

a:link,
a:visited {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

a:hover,
a:active {
  text-decoration: none;
}

h2 {
  background-color: lightgrey;
  text-align: center;
}

h3 {
  margin-top: 20px;
}

.free {
  color: rgb(121, 120, 120);
  font-weight: bold;
  margin-bottom: 20px;
}

.price {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}

button {
  background-color: black;
  color: #fff;
  font-size: 25px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  width: 1000px;
}

button:hover {
  background-color: #fff;
  color: black;
  border-top: 5px solid #000;
}

.main-heading {
  padding: 20px 0;
}

.more-info:link {
  margin-bottom: 20px;
}
